body{
    /* position: absolute; */
    /* background-size: 750px 417px; */
    /* z-index: 15; */
    /* top: 25%; */
    /* left: 45%; */
    /* display: block; */
    /* margin: -100px 0 0 -150px; */
    background: rgb(0, 0, 0);
    /* position: absolute;    right: 50%;  */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 100px;
    



}

.Bx{
    background-color: white;
    /* color: white; */
    width: 70vmin;
    height: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* display: flex; */
    text-align: center;
    /* align-items: center; */
    /* justify-content: center; */
    border-radius: 20px;

}

.download{
    background-color: rgb(210, 177, 14);
    height: 20px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    /* flex-wrap: wrap; */

    /* left: 50px; */
    
}

a{
    text-decoration: none;
    color: rgb(15, 22, 232);
    font-weight: 300;
    font-variant: inherit;
    font-size: 1.1999em;
}